<component name="ArtifactManager">
  <artifact type="war" name="spring-cloud-eureka-client:war">
    <output-path>$PROJECT_DIR$/spring-cloud-eureka-client/target</output-path>
    <root id="archive" name="spring-cloud-eureka-client.war">
      <element id="artifact" artifact-name="spring-cloud-eureka-client:war exploded" />
    </root>
  </artifact>
</component>