<component name="ArtifactManager">
  <artifact type="war" name="spring-cloud-zipkin-service-miya:war">
    <output-path>$PROJECT_DIR$/spring-cloud-zipkin-service-miya/target</output-path>
    <root id="archive" name="spring-cloud-zipkin-service-miya.war">
      <element id="artifact" artifact-name="spring-cloud-zipkin-service-miya:war exploded" />
    </root>
  </artifact>
</component>